.theadd button {
  margin-bottom: 3%;
  margin-right: 10px;
  margin-top: 6px;
  height: 36px;
  background: transparent;
  color: white;
  border: solid;
  border-radius: 15px;
}

.theadd button:hover {
  color: yellow;
}

form {
  display: flex;
  flex-direction: column;
}
