.flexbox input {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    height: 36px;
    background: transparent;
    color: beige;
    border: solid;
    border-radius: 15px;
   
}

input::placeholder { 
    color: white
  }
